header {
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}

header img {
    height: 100%;
    object-fit: contain;
}

.btn {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--C-blue);
    min-width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
}