
.fondo-container {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  position: absolute; 
    left: 0;
    top: 0;
    z-index: 0; /* Envía la imagen al fondo */
}

.fondo-container h2{
  font-size: 20px;
}

.fondo-container p{
  font-size: 15px;
  white-space: pre-line;
}

.fondo-container input{
  font-family: 'Outfit', sans-serif;
  font-size: 13px;
  width: 300px;
  background-color: rgb(211, 211, 211);
  padding: 8px;
  border-color: #3658FA;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  z-index: 10;
}


#idSpace {
  text-align: left;       /* texto alineado a la izquierda */
}