.VotingList{
    min-height: 100vh;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
hr {
    border: none;
    height: 1px;
    background-color: black;   
    width: 90%;
    opacity: 1;
}
section{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}