.voteObject {
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.voteObject.selected .divObj {
  border: 2px solid blue;
}

.voteObject.disabled {
  opacity: 0.5;
  pointer-events: none;
}